<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Watch Collection Club</title>
        <link href="../output/club.css" rel="stylesheet">
		
    </head>
    <body>
    <nav id='myNav'>
		<button id="navbtn"> = </button>
		<div class='displayNav'>{% include "../views/nav.html" %}</div>
    </nav>
    <main>
        {{mainContent}}
    </main>
	<footer>&#8986; &copy 2020 Emmanuel Gonzalez &#9203; </footer>
	<script src="../runit.js"></script>
	<script src="../output/navExt.js"></script>
    </body>
</html>